body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}


nav div {
  display: flex;
  align-items: center;
}

nav div:first-of-type a {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #202124;
  padding: 5px;
}

nav div:first-of-type a:first-of-type {
  margin: 0 5px 0 15px;
}

nav div:first-of-type a:nth-of-type(2) {
  margin: 0 5px;
}

nav div:nth-of-type(2) a {
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: #202124;
  margin-left: 15px;
}

nav div:nth-of-type(2) a:last-of-type {
  margin-right: 15px;
}

nav div:nth-of-type(2) {
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: #202124;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: -webkit-fill-available; */
  height: calc(100% - 560px);
}

footer {
  display: flex;
  flex-direction: column;
}

.search-bar {
  margin: 1rem auto;
}

.search-bar input {
  width: 20rem;
}

p {
  margin: 0;
}

footer > div {
  padding: 1rem;
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer-bottom div:nth-of-type(2) {
  text-align: center;
}

.footer-bottom div:nth-of-type(3) {
  text-align: right;
}

.google-apps-button {
  width: 40px;
  height: 40px;
  border: none;
  margin: 4px;
  background-color: transparent;
}

.google-apps-button:hover {
  background-color: rgb(60, 64, 67, 0.08);
  border-radius: 50%;
}

.google-apps-button img {
  width: 24px;
  height: 24px;
}

.sign-in-button {
  color: #fff;
  background-color: #1a73e8;
  font-size: 14px;
  padding: 9px 23px;
  margin: 0 8px;
  border: none;
  border-radius: 4px;
}

.sign-in-button:hover {
  background: #1b66c9;
  box-shadow: 0 1px 3px 1px rgba(66, 64, 67, 0.15),
    0 1px 2px 0 rgba(60, 64, 67, 0.3);
}

.google-logo {
  width: 272px;
}

.search-bar input {
  border: none;
  background-color: transparent;
  width: 443px;
  outline: none;
  font-size: 16px;
}

.search-bar {
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  min-height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.search-bar img {
  width: 24px;
  height: 24px;
}

.search-icon {
  margin-left: 14px;
  margin-right: 13px;
}

.camera {
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  cursor: pointer;
}

main button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  cursor: pointer;
}

main button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
